/*@import url('https://fonts.googleapis.com/css?family=Fjalla+One');*/

*{
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: 'FjallaOne-Regular', sans-serif;
  font-weight: 300;
  color: #000000;
	}

html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}
a{color: #ffa300; text-decoration: none;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
a:hover{color: #ffa300; }
a:visited,a:focus { outline: none; text-decoration: none;}

/* Typography */
h1,h2,h3,h4,h5,h6 li .btn {
  font-family: 'FjallaOne-Regular', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

h1 {
  font-weight: bold;
  font-size: 100px;
}

h2 {
    font-family: 'DancingintheRainbow', sans-serif;
    color: #ffffff;
    font-size: 55px;
    letter-spacing: 2px;
}


h3 {
    font-family: 'DancingintheRainbow', sans-serif;
    color: #ffffff;
    font-size: 40px;
    line-height: 28px;
    letter-spacing: 0px;
    margin-bottom: 40px;
  }


h4 {
    font-family: 'FjallaOne-Regular', sans-serif;
    color: #616060;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}
ul{
  margin-bottom: 10px;
}

ul li{
  list-style: none;
}

.two-content li{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 20px;
  padding-bottom: 5px;
}

.two-content li::before {
  content: "\25AA"; 
  color: #ff9f39;
  display: inline-block; 
  width: 1em;
  font-size: 22px;
  margin-left: -22px;
}



/* Preloader section  */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #222;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }


.head{
  background: #ffb533;
}
.flower{
  position: absolute;
  left: 30%;
}
.head-info {
    margin: 0 auto;
    padding: 5px 0px;
}
.head-info li{
  display: inline-block;
 font-family: 'FjallaOne-Regular', sans-serif;
  padding: 0 8px;
  border-right: 1px solid #fff;
}
.head-info li:last-child{
  padding-right: 0px;
  border-right: none;
}
.head-info li a{
 font-family: 'FjallaOne-Regular', sans-serif;
 color: #000000;
 text-decoration: none;
}
.head-info i{
  padding-right: 10px;
}
.cart{
  font-size: 14px;
  padding-right: 5px;
}
.header{
      padding: 15px 0px;
      background: #ffffff;
      z-index: 999999;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
}
.fixed-header {
    position: fixed;
    top:0; left:0;
    width: 100%; 
    -webkit-box-shadow: 1px 2px 6px 2px rgba(204, 204, 204, 0.38);
    -moz-box-shadow:   1px 2px 6px 2px rgba(204, 204, 204, 0.38);
    box-shadow: 1px 2px 6px 2px rgba(204, 204, 204, 0.38);
    animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.menu{
  margin: 0px;
}
.menu li a{
   font-family: 'FjallaOne-Regular', sans-serif;
    color: #491c59;
    text-transform: uppercase;
    padding-right: 39px;
    font-size: 20px;
    padding: 0 11px;
    text-decoration: none;
}
.menu li:nth-last-child(3) a{
  border-right: 1px solid #ffb533;
}

nav a{
  position: relative;
}

nav a:hover:after {
    content: "";
    display: block;
    border: 12px solid rgba(255, 255, 255, 0);
    border-top-color: #ffb533;
    position: absolute;
    bottom: 26px;
    left: 50%;
    margin-left: -13px;
}
.menu .social a{
     padding: 0;
    padding-right: 4px;
}
.menu li:last-child a{
  padding-right: 0px;
}
.navbar{
  padding-right: 0px;
}
.banner{
    background-image: url(../images/banner.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 210px;
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
}
.banner h2 {
      text-align: center;
    vertical-align: middle;
    line-height: 180px;
}
.content {
  background-image: url(../images/background.jpg);
  padding: 50px 0px;
}
.inner-content{
  background: #ffffff;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 5px #ccc;
  border-radius: 5px;
}
.two-content{
  padding: 10px;
}
.footer{
    background-image: url(../images/footer.jpg);
    min-height: 200px;
    padding: 30px 0px;
}
.flower_footer{
      position: absolute;
    right: 20%;
    padding-top: 19px;
}
.foot p{
  color: #ffffff;
margin-bottom: 25px;
}

.highlight{
  color: #8548a9 !important;
}
.foot{
  border-right: 1px solid #8548a9;
      padding: 0 40px;
}
.foot li a{
      color: #8548a9;
      font-size: 14px;
      text-decoration: none;
}
.foot li{
    padding-bottom: 5px;
    border-bottom: 1px dotted #8548a9;
}
.foot li:last-child{
    border-bottom: none;
}
.no_border{
  border-right:  none !important;
}
.email-box{
      background: transparent;
    border: none;
    border-bottom: 1px solid #8548a9;
    color: #8548a9 !important;
    outline: 0;
    padding-bottom: 3px;
    width: 55%;
    margin-right: 10px;
     font-size: 12px;
}
::-webkit-input-placeholder {
  color: #8548a9;
  font-size: 12px;
}
.foot i{
  padding-right: 20px;
      width: 30%;
    float: left;
}
.copyrights{
 background: #ffa300;
 padding: 10px 0px;
 text-align: center;
 position: relative;
}
.copyrights p{
  margin-bottom: 0px;
   font-family: 'FjallaOne-Regular', sans-serif;
  text-transform: uppercase;
}
.highlight2{
  color: #ffffff;
}
.copyrights img{
      position: absolute;
    right: 20%;
    bottom: 0;
    top: 0;
}
.btn{
      border-radius: 20px;
    background: #ffa300;
    font-size: 13px;
    margin-left: 2px;
        cursor: pointer;
        outline: 0;
}
.foot a{
  color: #ffffff;
  text-decoration: none;
}
.foot a:hover{
  color: #ffa300;
}

.menu-bar{
  display: none;
}

.mobile-main-menu{
	display: none;
}





@media all and  (max-device-width : 768px) {
  .flower{
        left: 20%;
    width: 55%;
  }

.navbar{
  padding-right:0px;
}
.menu{
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
    width: 50%;

}

.menu li{
      display: block;
    width: 100%;
    padding: 10px;

 }

.menu li a{
font-size: 24px;
color: #ffffff;
}

.menu li:nth-last-child(3) a {
    border-right: none;
}


.menu-bar{
  display: inline-block;
   cursor: pointer;
   right: 25px;
    position: absolute;
 }

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #66297c;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.main-menu{
  display: none; 
  position: absolute;
  background: #66297ceb;
  z-index: 99999;
  margin-top: 53px;
}
.list-inline-item:not(:last-child){
      border-bottom: 1px solid #fff;
}
.head-info {
	font-size: 14px;
}


.foot {
    border-right: none;
    padding:  10px 30px;
}
.foot h3{
    margin-bottom: 25px;
}
.subscribe-form{
	padding-bottom: 10px;
}
.copyrights p{
	text-align: left;
	    padding-left: 12px;
}
.copyrights img{
	right: 0;
	width: 35%;
}
.footer{
	padding: 10px 0;
}
.inner-content{
  border-radius: 0px;
  -webkit-box-shadow: none;
}
.foot i{
  padding-right: 20px;
      width: none;
    float: none;
}

.head-info {
       padding-top: 55px;
    padding-bottom: 15px;
    text-align: center;
}
.call img{
  width: 20%;
}


}
@media all and (max-device-width:320px){

.logo img{
  width: 75%;
}
.main-menu{
	margin-top: 48px;
}

.call img{
  width: inherit;
}
.head-info li{
    border-right: none;
        padding: 5px 0;
}

.head-info li:nth-last-child(3){
  width: 100%
}
.head-info{
  text-align: center;
  padding-top: 42px;
    padding-bottom: 8px;
}

}